@import "tailwindcss";


@theme inline {
  --color-primary: #007AA3;
  --color-secondary: #8ED646;
  --font-primary: 'Ubuntu', sans-serif;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  h1 {
    @apply text-transparent bg-clip-text bg-linear-90 from-secondary to-primary brightness-150
  }
  .section {
    @apply h-fit min-h-screen w-full
  }
  .section-header {
    @apply flex flex-col gap-4 items-center;
  }
  .section-header h2 {
    @apply text-4xl text-transparent bg-clip-text bg-linear-90 from-secondary to-primary brightness-150 font-primary;
  }
}